* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #004443;
}

header {
    background-color: #002e34;
    padding: 20px;
    text-align: center;
    margin-bottom: 1em;
    box-shadow: 0px 2px 4px #45936c;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
    margin-left: 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: black;
    padding: 10px 20px;
    transition: padding 0.3s ease;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin: 0;
    font-family: 'Montserrat';
}

nav {
    text-align: right;
    display: flex;
    justify-content: center;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-family: Arial;
    font-size: 24px;
    display: inline-block;
    margin-left: 1em;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
    background-color: #ddd;
    box-shadow: 2px 2px 2px black;
}

a:hover {
    padding: 15px 25px;
    color: black;
}

.centraliza_card {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 5em;
    box-shadow: 5px 5px 2px #45936c;
}

button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #002e34;
    transition: background-color 0.3s ease;
    margin-top: 5px ;
    margin-bottom: 10px;
    color: #FFF;
}

button:hover {
    background-color: #155057;
}

button:active {
    background-color: #0f4e57;
}
#observacoes{
    margin-top: 10px;
}